<div class="header-wrapper">
  <div class="header-title">Planets</div>
  <span class="header-spacer"></span>
  <div class="header-actions">
    <div><button mat-button class="btn-delete btn-edit" (click)="openEditModal()"> Edit</button></div>
    <div><button mat-button class="btn-delete" (click)="openDeleteModal()"> Delete</button></div>
  </div>

  <app-delete-planet-modal [show]="showModal" [planetToDelete]="planetData" (close)="closeModal()"
    (onConfirmDelete)="onDeleteConfirmed($event)" (onCancel)="onDeleteCancelled()">
  </app-delete-planet-modal>

  <app-edit-planet-modal [show]="showEditModal" [planetToDelete]="planetData" (close)="closeEditModal()"
    (onConfirmEdit)="onEditConfirmed($event)" (onCancelEdit)="onEditCancelled()"></app-edit-planet-modal>
</div>

<div class="main-wrapper">
  <div class="card-wrapper">

    <div>
      <mat-card class="main-card">
        <div>
          <img [src]="planetData.imageUrl" class="card-icon">
        </div>
        <div>
          <div class="card-title"> {{ planetData.planetName }}</div>
          <div class="card-description"> {{ planetData.description }}</div>
        </div>
      </mat-card>
    </div>

    <div class="small-card-wrapper">
      <mat-card class="main-card small-card">
        <div class="card-data"> {{ planetData.planetRadiusKM }}</div>
        <div class="card-label light"> Radius in km</div>
      </mat-card>

      <mat-card class="main-card small-card">
        <div class="card-data"> {{ planetData.planetColor }}</div>
        <div class="card-label light"> Color</div>
      </mat-card>
    </div>

    <div class="small-card-wrapper">
      <mat-card class="main-card small-card">
        <div class="card-data"> {{ planetData.distInMillionsKM.fromSun }}</div>
        <div class="card-label"> Dist. from Sun</div>
      </mat-card>

      <mat-card class="main-card small-card">
        <div class="card-data"> {{ planetData.distInMillionsKM.fromEarth}}</div>
        <div class="card-label"> Dist. from Earth</div>
      </mat-card>
    </div>
  </div>
</div>