<div class="header-wrapper">
    <div class="header-title">Planets</div>
    <span class="header-spacer"></span>
    <div class="header-actions">
        <div><button mat-button class="btn-add-planet" > Edit</button></div>
        <div><button mat-button class="btn-add-planet"> delete</button></div>
    </div>
    <!-- <app-add-new-planet-modal  [show]="showModal" (close)="closeModal()"></app-add-new-planet-modal> -->
</div>
<div *ngIf="planetData">
  <h2>{{ planetData.planetName }}</h2>
  <img [src]="planetData.imageUrl" alt="{{ planetData.planetName }}" />
  <p>{{ planetData.description }}</p>

  <p>Color: {{ planetData.planetColor }}</p>
  <p>Radius (km): {{ planetData.planetRadiusKM }}</p>
  <p>Distance from Sun (millions km): {{ planetData.distInMillionsKM.fromSun }}</p>
  <p>Distance from Earth (millions km): {{ planetData.distInMillionsKM.fromEarth }}</p>
</div>
