mat-icon.big-icon {
    font-size: 48px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

// .icon-wrapper {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10px;
// }

// .icon-wrapper img {
//   width: 60px;
//   height: 60px;
// }